<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celestial | <%=(typeof title !="undefined" ? title : "" )%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/728d3c0089.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script>
        function changeText() {
            var elem = document.getElementById("fButton");
            if (elem.value == "Follow") elem.value = "Following";
            else if (elem.value = "Following") elem.value = "Follow";
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="/img/logo2.jpg" class="brand-img">
            <form class="search-form" action="">
                <input type="text" class="search-box" placeholder="search">
            </form>
            <div class="nav-items">
                <a href="index" style="color: #000;"><i class="icon fa-solid fa-house"></i></a>
                <a href="camera" style="color: #000;"><i class="icon fa-solid fa-camera"></i></a>
                <a href="discover" style="color: #000;"><i class="icon fa-solid fa-plus"></i></a>
                <a href="liked_posts" style="color: #000;"><i class="icon fa-solid fa-heart"></i></a>
                <a href="WatchParty" style="color: #000;"><i class="icon fa-solid fa-tv"></i></a>
                <div class="icon user-profile"></div>
            </div>
    </nav>