<div class="right-col">
    <div class="profile-card">
        <div class="profile-pic">
            <img src="/img/dp.jpg" alt="">
        </div>
        <div>
            <p class="username"><%=(typeof username != "undefined" ? username : "")%></p>
            <p class="sub-text">sub-text</p>
        </div>
        <button class="logout-btn">logout</button>
    </div>

    <p class="events">Stargazing Events</p>


</div>