<%- include('partials/header') %>


    <main>
        <div class="discover-container">
            <div class="gallery">

                <% for(var i=post.length-1; i>=0; i--){ %> 
                    <div class="gallery-item">
                        <img src="<%= post[i].imgPath %> " class="gallery-image" alt="">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="hide-gallery"><%= post[i].likes %> </span>
                                    <i class="fas fa-heart"></i>
                                </li>
                                <li class="gallery-item-comments"><span class="hide-gallery"><%= post[i].comments.length %>  </span>
                                    <i class="fas fa-comment"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } %> 
    </main>
    </body>

    </html>