<%- include('partials/header') %>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <h3>Update Profile</h3>

                <p class="text-center"></p>

                <form id="edit-form" action="/edit_profile" method="post">
                    <p id="error_message" class="text-center alert-danger"></p>
                    <div class="mb-3">
                        <img src="/img/1.jpg" alt="" class="edit-profile-image">
                        <input type="file" name="file" class="form-control" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" placeholder="username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea name="bio" id="bio" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <input name="update_profile_btn" id="update" class="update-profile-btn" value="Update"
                            type="submit">
                    </div>
                </form>
            </div>

            <%- include('partials/right') %>

        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        const update = document.getElementById('edit-form');
        update.addEventListener('submit', function () {
            console.log(document.getElementById('email').value);
            fetch('/update', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    email: document.getElementById('email').value,
                    username: document.getElementById('username').value,
                    bio: document.getElementById('bio').value,
                })
            }).then(res => {
                if (res.ok) window.location.href = 'http://localhost:3000/profile'
            }).then(response => {
                console.log(response)
            })
        })

        function verifyForm() {
            let error_message = document.getElementById('error_message');
            let user = document.getElementById("username").value;
            let reguser = /^(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$/igm;
            let email = document.getElementById("email").value;
            let regemail = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
            let str = ``
            let bio = document.getElementById("bio").value;
            if (!reguser.test(user)) {
                str += `Username should only contain (alphabet digits _ .) ,where consecutive dot's are not allowed and username is not allowed to start or end with .<br>`
            }
            if (!regemail.test(email)) {
                str += `Invalid Email Address<br>`
            }
            if (bio.length > 300) {
                str += `Bio should be less than 300 characters`
            }
            if (str !== ``) {
                error_message.innerHTML = str
                return false
            }
            return true;
        }

        document.getElementById('edit-form').addEventListener('submit', (e) => {
            e.preventDefault();
            if (verifyForm()) {
                document.getElementById("edit-form").submit();
            }
        })
    </script>
    </body>

    </html>