<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celestial-SignUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/728d3c0089.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .back-video {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        @media (min-aspect-ratio: 16/9) {
            .back-video {
                width: 100%;
                height: auto;
            }
        }

        @media (max-aspect-ratio: 16/9) {
            .back-video {
                width: auto;
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="/img/back.mp4" type="video/mp4">
        </video>
        <div class="main-container">
            <div class="main-content">
                <div class="form-container">
                    <div class="form-content box">
                        <div class="logo">
                            <img src="/img/logo.png" class="logo-img" alt="">
                        </div>
                        <form class="signup-form" id="signup-form" method="post" action="/signup">
                            <p id="error_message" class="text-center alert-danger errorMessage"></p>
                            <div class="form-group">
                                <div class="login-input">
                                    <input type="text" name="email" placeholder="Enter email address" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="login-input">
                                    <input type="text" name="username" placeholder="Enter username" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="login-input">
                                    <input type="password" name="password" id="password" placeholder="Enter password"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="login-input">
                                    <input type="password" name="password_confirm" id="confirm_password"
                                        placeholder="Confirm password" required>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="login-btn" id="signup_btn" type="submit">Sign Up</button>
                            </div>
                        </form>
                        <div class="or">
                            <hr>
                            <span>OR</span>
                            <hr>
                        </div>
                        <div class="goto">
                            <p>Already have an account? <a href="login">Log In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        function verifyForm() {
            let error_message = document.getElementById('error_message');
            let user = document.getElementById("username").value;
            let reguser = /^(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$/igm;
            let email = document.getElementById("email").value;
            let regemail = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
            let str = ``
            let password = document.getElementById("password").value;
            let repassword = /^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8}$/;
            let confirm_password = document.getElementById("confirm_password").value;
            if (!reguser.test(user)) {
                str += `Username should only contain (alphabet digits _ .) ,where consecutive dot's are not allowed and username is not allowed to start or end with .<br>`

            }
            if (!regemail.test(email)) {
                str += `Invalid Email Address`
            }
            if (!repassword.test(password)) {
                str += `Password should contain two uppercase letters,one special letter,two digits,three lowercase letters and password should be greater than 8<br>`
            }
            if (password !== confirm_password) {
                str += `Passwords Doesn't Match<br>`
            }
            if (str !== ``) {
                //error_message.innerHTML = str
                alert(str);
                //return false
            }
            //return true;
            form.submit();
        }
        document.getElementById('signup-form').addEventListener('submit', (e) => {
            e.preventDefault();
            verifyForm();
        })
    </script>
</body>

</html>